<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhang.zhangandroid">
    <!-- 广播和网络权限 -->
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读写手机文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 音视频权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 桌面快捷方式权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZhangAndroid">
        <activity
            android:name=".basecomponent.FragmentTabActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.GestureListenerActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.OnTouchEventActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.PopupWindowActivity"
            android:exported="true" />
        <activity
            android:name=".view.DefineViewActivity"
            android:exported="true" />

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.zhang.zhangandroid.provider.provider"
            android:process=":provider" />

        <activity android:name=".provider.ContentProviderActivity" />
        <activity
            android:name=".media.MediaActivity"
            android:exported="true" />
        <activity
            android:name=".rxjava.RxjavaActivity"
            android:exported="true" /> <!-- 静态广播接收者 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.receiverdata" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".receiver.BroadcastReceiverActivity"
            android:exported="true" />
        <activity
            android:name=".fragment.FragmentActivity2"
            android:exported="true" />
        <activity
            android:name=".fragment.FragmentActivity"
            android:exported="true" />
        <activity
            android:name=".layout.DrawerLayoutViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".layout.LayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.DrawerLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".persistence.PersistenceDataActivity"
            android:exported="true" />
        <activity
            android:name=".animation.AnimationActivity"
            android:exported="true" />
        <activity
            android:name=".complexcomponent.ComplexComponentActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.BaseComponentActivity"
            android:exported="true" />
        <activity
            android:name=".http.OKhttpActivity"
            android:exported="true" />
        <activity
            android:name=".picture.GlideActivity"
            android:exported="true" />
        <activity
            android:name=".complexcomponent.ViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".animation.PropertyAnimatorActivity"
            android:exported="true" />
        <activity
            android:name=".animation.TweenAnimationActivity"
            android:exported="true" />
        <activity
            android:name=".animation.FrameAnimationActivity"
            android:exported="true" />
        <activity
            android:name=".complexcomponent.RecycleViewActivity"
            android:exported="true" />
        <activity
            android:name=".complexcomponent.ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".layout.ConstraintLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.GridLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.TableLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.FrameLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.RelativeLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.LinearLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.PopWindowActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.AlertDialogActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.ProgressBarActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.ImageViewActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.ToolBarActivity"
            android:exported="true" />
        <activity
            android:name=".basecomponent.NotificationActivity2"
            android:exported="true" />
        <activity
            android:name=".basecomponent.TextViewActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>